/.bundle
/.ruby-version
/.rvmrc
/bin
/coverage
/Gemfile.lock
/gems
/mail-*.gem
/mail.tmproj
/rdoc
/spec/fixtures/emails/failed_emails/
/tags
/tmp
*.rbc
*.swp
.idea
.rbx
/.idea
/.rbenv-vars
/.ruby-version
gemfiles/*.lock
