language: ruby
sudo: false
cache: bundler

bundler_args: --without local_development

script: bundle exec rake

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
  - jruby
  - jruby-9.0.5.0
  - jruby-9.1.6.0
  - jruby-head
  - rbx-2

env:
  - JRUBY_OPTS="--server -J-Xms1500m -J-Xmx1500m -J-XX:+UseConcMarkSweepGC -J-XX:-UseGCOverheadLimit -J-XX:+CMSClassUnloadingEnabled"

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.0.5.0
    - rvm: jruby-9.1.6.0
    - rvm: jruby-head
    - rvm: rbx-2
  fast_finish: true
