language: ruby
sudo: false
cache: bundler

bundler_args: --without local_development

script: bundle exec rake

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head
  - jruby
  - jruby-9.0.5.0
  - jruby-9.1.6.0
  - jruby-head
  - rbx-2


matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.0.5.0
    - rvm: jruby-9.1.6.0
    - rvm: jruby-head
    - rvm: rbx-2
  fast_finish: true
